<!-- <article>
            <header>
                <img src="cinema.png" alt="A list of items">
                <h2>Support Tickets</h2>
            </header> -->
 <div>
 <ul>
      @for (ticket of tickets; track ticket.id) {
         <li>
            <app-new-ticket [data]="ticket" (close)="onCloseTicket(ticket.id)"/>
            <!-- - {{$first}} -->
         </li> 
       } @empty {
          <p>No Tickets Available.</p>
       }
 



 </ul>
 </div>  
        <div id="new-tickets">
                <app-new-tickets (add)="onAdd($event)"/>
            </div>
        <!-- </article> -->
