<main>
    <article class="temperatures">
        <header>
            <img src="temp.png" alt="thermometer icon" />
            <div>
                <h2>Current Temperatures</h2>
                <p>{{ currentDate | date:'medium' }}</p>
            </div>
        </header>

        <p>NewYork :{{ currentTemperatures.newYork | temp:'cel':'fah' }}
        </p>
        <p>Berlin :{{ currentTemperatures.berlin | number:'1.1-2'}}</p>
        <p>Paris :{{ currentTemperatures.paris | temp:'cel' }}</p>
        <p>Chicago :{{ currentTemperatures.chicago | temp:'fah':'cel'}}</p>
    </article>

    <article class="temperatures">
        <header>
            <img src="temp.png" alt="thermometer icon" />
            <div>
                <h2>Historic Temperatures</h2>
                <p>Berlin</p>
            </div>
        </header>


        <ul>
            @for (temperatures of historicTemperatures | sort:'desc'; track temperatures){
            <li (click)="onReset($index)"> {{temperatures | temp:'cel'}}</li>
            }
        </ul>
    </article>
</main>

<button>

</button>