<app-header />

<main>

    <div id="dashboard">
        <app-dashboard-item
         [image]="{src: 'status.png',  alt: 'A Signal Symbol'}"
           title= "A Signal Symbol"
         >  
            <app-server-status />
        </app-dashboard-item>
    


        <app-dashboard-item
         [image]="{src: 'globe.png',  alt: 'A globe '}"
           title= "Traffic "
        >
            <app-traffic />
        </app-dashboard-item>


        <app-dashboard-item
         [image]="{src: 'cinema.png',  alt: 'Support Tickets '}"
           title= "Support Tickets "
        >
            <app-ticket />
        </app-dashboard-item>
    </div>
</main>