#dashboard {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.dashboard-item {
    border:1px solid #ccc;
    border-radius: 8px;
    padding: 1 1 30%;
    background-color: #fafafa;
}

#chart div {
    transition: height 0.3s;
}